body,
.buttonForm:hover {
  background-color: rgba(226, 215, 215, 0.815) !important;
}

/*timepicker style*/

.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list {
  padding-left: 0;
  padding-right: 0;
  width: 100px;
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
    rgb(55, 75, 155) 0%,
    rgb(35, 109, 134) 69%,
    rgb(22, 126, 77) 89%
  ) !important;
  height: 100vh;
}

.masthead.segment {
  min-height: 600px;
  padding: 4em 0 !important;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/
h4.ui.header {
  margin-bottom: 2em;
}
.ui.inverted.blue.button,
.ui.inverted.blue.buttons .button {
  margin: 2em 4em;
}
/* navbar styles */

.ui.inverted.menu {
  background-image: linear-gradient(
    135deg,
    rgb(55, 75, 155) 0%,
    rgb(35, 109, 134) 69%,
    rgb(22, 126, 77) 89%
      /* 135deg,
          rgb(36, 53, 121) 0%,
          rgb(33, 138, 174) 69%,
          rgb(32, 132, 172) 89% */
  ) !important;
}
.ui.menu .active.item {
  background: rgba(0, 0, 0, 0.05);
  font-weight: 900;
}
.ui.main.container,
.main.segment {
  margin-top: 1em;
}

.ui.center.aligned.segment.attendance-preview {
  background-color: #e0d7d7;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.ui.menu .item > img:not(.ui) {
  margin-right: 1.5em !important;
}

.ui.menu:not(.vertical) .item > .button {
  margin-left: 0.5em;
}
.ui.menu {
  border: 0.1em solid black;
  border-radius: 0.8em;
}

/*chat comments*/

.ui.comments .comment .comments {
  padding-bottom: 0 !important;
  padding-left: 2em !important;
}

/* dropzone styles */
.dropzone {
  border: dashed 3px #eee;
  border-radius: 5px;
  padding-top: 30px;
  text-align: center;
  /* min-height: 236px; */
}

.dropzone--isActive {
  border: dashed 3px blue;
}
/* menu responsive */
.ui.menu .active.item {
  font-weight: 1000;
}
.ui.basic.black.button,
.ui.basic.black.buttons .button:hover,
.buttonForm {
  -webkit-box-shadow: 0 0 0 1px #032649 inset !important;
  box-shadow: 0 0 0 1px #468ace inset !important;
  color: #3a74ad !important;
}
/* @media (max-width: 1000px) {
  .ui.small.image,
  .ui.small.images .image,
  .ui.small.images img,
  .ui.small.images svg {
    visibility: hidden;
  }
} */
.ui.cards {
  text-align: center;
}
.ui.segment:first-child {
  margin-top: 0.5em;
}
/* contact form */

#contactForm {
  width: 100%; /* Full width */
  padding: 19px; /* Some padding */
  border: 1px solid black; /* Gray border */
  border-radius: 8px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
}
form textarea {
  margin: 1em 0.1em;
}

/* .img-preview {
  height: 210px !important;
  width: 210px !important;
} */
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
textarea {
  min-height: 10em;
}
.buttonForm {
  background-color: rgb(240, 245, 241);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  width: 100%;
}
/* images jobs segments */
@media only screen and (max-width: 767px) {
  .ui.items:not(.unstackable) > .item > .image,
  .ui.items:not(.unstackable) > .item > .image > img {
    min-height: 80px !important;
    max-height: 80px !important;
  }
}
/* error field */
.ui.basic.red.label {
  margin-top: 1em;
}
.radio {
  margin: 0.2em;
  padding: 0.1em 0.1em 0.1em 0.5em;
}
/* interested icons on work list items */

.ui.horizontal.list > .item:first-child,
.ui.horizontal.list > .item:last-child {
  text-align: center;
}
/* dropzone */
.dropzone {
  margin: 0em 4em;
}
